* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    
    color: white;
    display: contents;

}


body {
    background-color: black;
    --color1: #FFF;
    --color2: #000000;

}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 40px;
}
.storia {
width:100% ;
font-size: 20px;
text-transform: inherit;
line-height: 1.2;
margin-bottom: 300px;

} 
.info{

    width:100% ;
font-size: 20px;
text-transform: inherit;
line-height: 1.2;
margin-bottom: 300px;
text-align: left;
line-height: 2;

}


/* BURGER MENU */


.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    padding: 12px 20px;
    position: absolute;
    top: 39px;
    
   
  
}


.menu {
    padding: 0;
    display: flex;
    font-size: 15px;


   
    
    
}




.menu li {
    padding-left: 40px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.menu li a::after {
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

}

.close-menu {
    top: 27px;
    right: 20px;
}

#check {
    display: none;
}

@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 20px;
    }
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/* FINE BURGER MENU */


a {
    list-style: none;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
    width: auto;
    margin: -5px;
    padding: 0;
    position: a;

}





header {
    /* border: 1px solid red; */
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
}





.name {
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    
}


main {
    /* border: 1px solid yellow; */
    margin-left: 12px;
    margin-right: 12px;


}


p {
    color: white;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    /* border: 1px solid red; */
    width: 292px;
    margin-top: 40px;
}
button {
    border: 0.5px solid rgb(166, 165, 165);
    background-color: black;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    
    
}
h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    height: 13px;
    font-size: 13px;
}

.copertine {
    /* border: 1px solid pink; */
    left: 0;
    right: 0;
    height: 110vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center ;

}

img {
    width: 100vw;
    height: 27vh;
    object-fit: cover;
}

img:hover {
    
    transition: transform 0.5s ease-in-out;
    transform: scale(1.2);
    transition-duration: 0.4s;
    

    
    
}


.icone {
    width: 35px;
    height: auto;
    /* border: 1px solid green; */
    
}

footer {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    height:100px  ;

}

.testoprogetti {
    text-transform:inherit;
    width: auto;
    font-size: 18px;

    
}

.imgprogetti {

    height: 550px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 200px;
    margin-top: 25px;
    align-self: center;
  
}


/* Desktop */

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 12px;
    }

    .name {
        display: flex;
        flex-direction: row;
        font-size: 30px;
    }

    .menu {
        position: absolute;
        right: 60px;
        font-size: 20px;
        font-weight: 500;
    }

    main p {
        margin-left: auto;
        margin-right: auto;
        font-size: 60px;
        width: 40vw;
        height: 30vh;
        align-self: center;
        justify-self: center;
        margin-top: 90px;
        align-self: center;
        text-align: center;
    }
    
    .copertine{

   
    margin-top: 100px ;
    display: flex;
    flex-direction: column;

}
button {
    border:2px solid rgb(166, 165, 165);
    background-color: black;
    height: 65px;
    width: 140px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 200px;

}
button h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 18px;
    font-weight: bold;
}
.testoprogetti{
    font-size: 25px;
    text-align: left;
    width: 60vw;
    margin-left: auto;
    margin-top: 180px;
    height: auto;
    margin-bottom: 40px;
}
.imgprogetti{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    margin-top: 100px;
}
img:hover {
    
    transition: transform 0.5s ease-in-out;
    transform: scale(1.040);
    transition-duration: 0.4s;






}
.info{
    text-align: center;
    font-weight: bold;
    
}
h1{
    text-align: center;
    font-weight: bold;
}

}